<aside class="flex w-1/5 min-w-[250px] flex-col gap-6 border-r border-gray-300 px-5 py-7">
  <img src="/assets/english_logo.svg" alt="찍션 영문 로고" class="max-w-40 pl-4" />
  <div class="border-b border-gray-300"></div>

  <nav>
    <ul class="flex flex-col gap-1 text-gray-500">
      @for (menu of menus; track menu.label) {
        @if (menu.children && menu.children.length) {
          <app-menu-item [menu]="menu" [(selectedMenuLabel)]="openMenuLabel" />
        } @else {
          <a
            class="flex items-center gap-2 rounded-md px-4 py-2 hover:bg-gray-100 hover:text-black"
            [routerLink]="menu.route"
            routerLinkActive="bg-blue-100 text-blue-500"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="menuState.setHeaderLabel(menu.label)"
          >
            @if (menu.icon) {
              <!-- <span class="iconify size-5" [attr.data-icon]="menu.icon" data-inline="false"></span> -->
            }
            <span>{{ menu.label }}</span>
          </a>
        }
      }
    </ul>
  </nav>
</aside>
